.w-full {
    width: 100%;
  }
  
  .light {
    font-weight: 300;
  }
  
  .regular {
    font-weight: 400;
  }
  
  .semibold {
    font-weight: 600;
  }
  
  .overline {
    letter-spacing: .125rem;
    text-transform: uppercase;
  }
  
  .mono {
    font-family: "Source Code Pro", monospace;
  }
  
  .list-style-none {
    list-style-type: none;
  }
  
  .list-style-icon{
  list-style-image: url(/assets/image/Icon.svg);
  }

  .text-decoration-none {
    text-decoration: none;
  }
  
  .py-3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .my-0\.5{
    margin-top: .5rem;
    margin-bottom: .5rem;
  }
  
  .mb-1 {
    margin-bottom: 1rem;
  }
  .mt-1 {
    margin-top: 3rem;
  }
  
  .text-primary-regular {
    color: var(--primary-regular);
  }
  
  .text-primary-dark {
    color: var(--primary-dark);
  }

  .text-primary-darker{
    color: var(--primary-darker);
  }
  
  .text-white { 
    color: var(--white)
  }
  
  .bg-primary-darker {
    background-color: var(--primary-darker);
  }

  .proyect_text1{
    margin-top: 20px;
    margin-bottom: 40px;

  }

  .proyect_text2 {
    margin-top: 1rem;
    margin-bottom: 3rem;
  }

  .proyect_text3 {
    margin-top: 20px;
    margin-bottom: 8px;
  }

  .name-team-text{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    }

  .section-color-proyect{
    background-color: var(--primary-regular);
  }
  